
 <!DOCTYPE html>
<html>
<title>Simly Smoked</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<style>
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1,h2,h3,h4,h5,h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
  }

  div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
  }

  div.gallery:hover {
      border: 1px solid #777;
  }

  div.gallery img {
      width: 100%;
      height: auto;
  }

  div#gallery {
    box-sizing: initial;
  }

  #gallery text {
    margin-left: 10px;
  }

  #second-header {
    letter-spacing: 1.5px;
  }

  #brisket-photo {
    margin-top: 90px;
  }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding-8 w3-card-2">
    <a href="#home" class="w3-bar-item w3-button w3-margin-left">Simply Smoked Catering</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">Menu</a>
      <a href="#gallery" class="w3-bar-item w3-button">Gallery</a>
      <a href="#contact" class="w3-bar-item w3-button w3-margin-right">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <div class="header-photo">
  <img class="w3-image" src="/images/PlateORIGINAL.jpg" alt="Smoker" width="1600" height="500">
  </div>
  <div class="w3-display-bottomleft w3-padding-xlarge w3-opacity">
   <!--  <h1 class="w3-xxlarge">Catering</h1> -->
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/images/logo.gif" class="w3-round w3-image" id="asdf" alt="Logo" width="800" height="900">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Catering</h1><br>
      <h5 class="w3-center" id="second-header">Following Traditions With a Modern Twist</h5>
      <p class="w3-large w3-text-grey">Simply Smoked is a family business based in Round Rock, Texas with an obsession for great BBQ. We believe that some of the best memories are made while gathering and sharing a meal with friends and family. Our belief is that high-quality ingredients, attention to detail, and a 100% wood-fueled pit are essential components of true Texas-style BBQ. You won’t find any shortcuts taken at Simply Smoked. We offer homemade sauces, sides, and desserts that pair well with our BBQ. We provide great food with exceptional customer service. We can’t wait for y'all to try it!</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Menu</h1><br>
      <h4>Brisket</h4>
      <p class="w3-text-grey">Our specialty, a true Texas classic</p><br>
    
      <h4>Pulled Pork</h4>
      <p class="w3-text-grey">A Carolina specialty with a Texas twist</p><br>
    
      <h4>Chicken</h4>
      <p class="w3-text-grey">Juicy and tender chicken that will make any poultry lover smile</p><br>
    
      <h4>Turkey</h4>
      <p class="w3-text-grey">Not your grandma's turkey. A hint of smoke and a ton of flavor!</p><br>
    
      <h4>Traditional BBQ Sides</h4>
      <p class="w3-text-grey">Potato Salad, Cole Slaw, Pasta Salad, Beans and good ol' fashioned white bread!</p>    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="/images/gallery_cooking_brisket.jpg" id="brisket-photo" class="w3-round w3-image" alt="Sides" width="500" height="750">
    </div>
  </div>

  <hr>
  <div class="w3-row w3-padding-64" id="gallery">
    <h1>Gallery</h1><br>
    <div class="gallery">
      <a target="_blank" href="images/gallery_BrisketORIGINAL.jpg">
        <img src="images/thumb_Brisket.jpg" alt="Brisket" width="300" height="200">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="images/gallery_cut_brisket.jpg">
        <img src="images/gallery_cut_brisket.jpg" alt="Brisket" width="300" height="200">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="images/gallery_pulled_pork.jpg">
        <img src="images/gallery_pulled_pork.jpg" alt="Pulled Pork" width="300" height="200">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="images/gallery_cooking_brisket2.jpg">
        <img src="images/gallery_cooking_brisket2.jpg" alt="Brisket" width="300" height="200">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="images/PlateORIGINAL.jpg">
        <img src="images/PlateORIGINAL.jpg" alt="Plate" width="300" height="200">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="images/gallery_thermometer.jpg">
        <img src="images/gallery_thermometer.jpg" alt="thermometer" width="300" height="200">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="images/gallery_ribs.jpg">
        <img src="images/gallery_ribs.jpg" alt="ribs" width="300" height="200">
      </a>
    </div>


    <div class="gallery">
      <a target="_blank" href="images/brisket_close_mark.jpg">
        <img src="images/edit_brisket_close_mark.jpg" alt="close up brisket" width="300" height="200">
      </a>
    </div>


    <div class="gallery">
      <a target="_blank" href="images/fire_mark.jpg">
        <img src="images/edit_fire_markUSE.jpg" alt="fire" width="300" height="200">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="images/smoker_edit.jpg">
        <img src="images/smoker_edit.jpg" alt="smoker" width="300" height="200">
      </a>
    </div>

  </div>

<hr>

  
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>Simply Smoked will cater any event – large or small. While we have the capacity to cook for 500 people at a time, we tailor our offerings to meet the needs of each customer, including weddings, parties, corporate meetings... you name it! We offer multiple options from full-service catering to drop-off catering. Please send us a note using the form below or give us a call and we’ll gladly customize our menu to suit your needs.</p>

    <p>Follow us on <a href=https://www.facebook.com/simplysmokedbbq/ title="facebook_link" target="_blank" class="w3-hover-text-green">facebook</a> and <a href="http://www.imgrum.org/user/simplysmokedbbq/3298186020" title="instagram_link" target="_blank" class="w3-hover-text-green">Instagram</a> for all the latest news and events.</p>
    <p>You can also contact us by phone 512.922.8735 or email simplysmokedbarbecue@gmail.com:</p>

    <form action="/contact_form" method="post" enctype="text/plain" >
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <p><button class="w3-button w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Follow us on <a href=https://www.facebook.com/simplysmokedbbq/ title="facebook_link" target="_blank" class="w3-hover-text-green">facebook</a> and <a href="http://www.imgrum.org/user/simplysmokedbbq/3298186020" title="instagram_link" target="_blank" class="w3-hover-text-green">Instagram</a> for all the latest news and events.</p>

</footer>

</body>
</html>
